{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('home') }}
{% endblock %}

{% block body %}
    <h1 class="home-title" data-colorizer>
        {{ 'home.welcome'|trans({ name: name }) }}
    </h1>
{% endblock %}
